h1 {
  // color: $brand;
  font-size: $h1;
  line-height: calc(#{$h1} + #{$baseline*0.15});
}

h2 {
  font-size: $h2;
  line-height: calc(#{$h2} + #{$baseline*0.05});
}

.impact h2 {
  font-size: $h2*0.75;
  line-height: calc(#{$h2*0.75} + #{$baseline*0.2});
}

h3,
.page h2,
.page h3,
.summary h2,
.team h2 {
  font-size: $h3;
  line-height: calc(#{$h3} + #{$baseline*0.25});
}

h4 {
  font-family: $stack;
  font-size: $h4;
  line-height: calc(#{$h4} + #{$baseline*0.35});
}

blockquote {
  p {
    font-size: $body;
    line-height: $baseline;
  }
}