.sub nav.nav, header {
  + .container {
    margin-top: $baseline*3;
  }
}

.sub {
  + .container {
    margin-top: $baseline;
  }
}

.container {
  float: left;
  width: 100%;
  margin-bottom: $baseline*4;
}

// @media (min-width: 1360px) {
//   .header {
//     max-width: 1310px;
//   }
// }

// @media (min-width: 960px) {
//   .header {
//     max-width: 1160px;
//   }
// }