footer {
  clear: both;
  .footer {
    padding-top: $baseline;
    padding-bottom: $baseline;
    .signup, .contact {
      margin-bottom: $baseline;
      @include grid-column(6);
    }
    .social {
      margin-bottom: $baseline*0.5;
    }
    nav.nav {
      @include grid-column(10);
    }
    .signup {
      margin-top: 0;
    }
  }
}