section.page {
  margin-top: $baseline*0.5;
  margin-bottom: $baseline*0.5;
  @include grid-column(8);
  @include grid-push(2);
}

.bump {
  margin-top: $baseline*2;
}

.return_link {
  margin-bottom: $baseline;
}


.chevron::before {
  border-style: solid;
  border-width: 3px 3px 0 0;
  content: '';
  display: inline-block;
  height: 0.5em;
  left: 0.15em;
  position: relative;
  transform: rotate(-45deg);
  vertical-align: baseline;
  width: 0.5em;
  margin-right: 10px;
}

.chevron.r:before {
  left: 0;
  transform: rotate(45deg);
}

.chevron.d:before {
  top: 0;
  transform: rotate(135deg);
}

.chevron.l:before {
  left: 0.25em;
  transform: rotate(-135deg);
}


.chevron_link {
  .fa {
    vertical-align: middle;
  }
  a {
    padding-left: 1px;
    padding: 1px 10px 5px 5px;
    display: inline-block;
    max-width: 88%;
    vertical-align: middle;
    -webkit-transition: padding 0.15s ease-out;
    -moz-transition: padding 0.15s ease-out;
    -o-transition: padding 0.15s ease-out;
    transition: padding 0.15s ease-out;
    &:focus {
      outline: none;
      text-decoration: none;
      padding-left: 10px;
      padding-right: 1px;
    }
    &:hover {
      padding-left: 10px;
      padding-right: 1px;
      -webkit-transition: padding 0.25s ease-out;
      -moz-transition: padding 0.25s ease-out;
      -o-transition: padding 0.25s ease-out;
      transition: padding 0.25s ease-out;
    }
  }
}
