.single {
  .date {
    margin-top: $baseline;
  }
  .date, .author {
    display: block;
  }
  a p {
    @include ease;
    color: $black;
    &:hover {
      @include ease;
      color: $brand;
    }
  }
}