$team: (
  columns: 8,
  gutter: $gutter,
);

$member: (
  columns: 4,
  gutter: 0,
);

section.team {
  @include grid-column(8);
  @include grid-push(2);
  .collapse {
    @include grid-collapse();
  }
  .member {
    @include grid-column(4, $team);
    margin-bottom: $baseline*2;
  }
  .profile {
    @include grid-column(2, $member);
    margin-bottom: $baseline*0.5;
  }
  .details {
    @include grid-column(4, $member);
  }
}

// temp. neat grid causes me a headache
section.team.board .this:nth-child(4) .collapse .member {
  clear: both;
}