.cta, .button {
  font-size: $body;
  font-weight: 600;
  line-height: $baseline;
  border: none;
  background: transparentize($brand, $amount);
  width: auto;
  &:hover {
    cursor: pointer;
  }
  & a:hover {
    color: $black;
  }
}

// from website
.button,
.sessions.new form.new_user .actions input,
.passwords.new form.new_user .actions input,
.passwords.create form.new_user .actions input {
  border: $style $medium $brand;
  background: $brand;
  text-align: center;
  padding: $baseline*0.5 $baseline;
  color: $black;
  position: relative;
  transition: none;

  &:focus {
    outline: $brand $medium/2 solid;
  }

  &:hover {
    background: $black;
    border-color: $black;
    color: $white;
    cursor: pointer;
  }

  &:active {
    top: $medium;
    border-bottom: none;
    background: $black;
    margin-bottom: $medium;
  }

  a.button {
    color: $black;
  }
}
