.spot {
  float: left;
  margin-right: $gutter*0.05;
  width: 32px;
  height: 32px;
  font-size: 21px;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 100%;
  background: $gray-b;
  &.fill {
    background: $brand-d;
    border-color: $brand-d;
    &.negative {
      border-color: $negative;
      background: $negative;
    }
  }
  &.positive {
    border-color: $positive;
    background: $positive;
  }
  &.neutral {
    background: $neutral;
  }
  &.negative {
    border-color: $negative;
    background: $negative;
  }
}
