$spot-size: 32px;

.spot {
  float: left;
  margin-right: $gutter*0.05;
  width: $spot-size;
  height: $spot-size;
  font-size: 21px;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 100%;
  background: rgba($gray, 0.8);
  &.fill {
    background: $brand;
    border-color: $brand;
    &.negative {
      border-color: $negative;
      background: $negative;
    }
  }
  &.positive {
    border-color: $positive;
    background: $positive;
  }
  &.neutral {
    background: $neutral;
  }
  &.negative {
    border-color: $negative;
    background: $negative;
  }
}

.evidence_wrapper {
  position: relative;
  height: $spot-size;
  padding: 0;
  margin: 0;
  display: inline-block;
  // &.poor_quality:before {
  //   content: " ";
  //   position: absolute;
  //   top: 50%;
  //   left: 0;
  //   border-bottom: 4px solid $red;
  //   width: ($spot-size * 3) + (($gutter*0.05) * 2);
  // }
}
