.application, .intervention {
    section.background {
    padding-top: $baseline;
    padding-bottom: $baseline;
    background: $black;
    color: $white;
    h2, h3, p, a, a:visited {
      color: $white;
    }
    h2, h3 {
      font-weight: 600;
    }
    p, li, a, a:visited {
      font-weight: 300;
    }
    &.hero {
      background: $brand;
    }
    &.brand {
      background: $brand-d;
    }
    &.gray {
      background: $gray-b;
    }
    + section h2 {
      margin-top: $baseline*0.5;
    }
    + section.background {
      padding-top: 0;
    }
  }
}

.dashboard {
  background: $gray-b;
  @include off-brand-d;
  padding-top: $baseline;
  padding-bottom: $baseline*2;
  section.section {
    margin-top: $baseline*2.5;
    margin-bottom: $baseline*2.5;
  }
  nav, #involved, .top, #main_cont {
    display: none;
  }
  .effect, .evidence {
    float: left;
  }
  .effect {
    margin-right: $gutter;
  }
  .indent, .indent_b, .col_9 {
    position: relative;
    margin-top: $baseline;
    margin-bottom: $baseline;
  }
  .no-bullet {
    list-style: none;
    padding-left: 0;
  }
  ul {
    float: left;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    li {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  .date {
    margin: $baseline*0.5 0 $baseline*0.25 0;
  }
  .item {
    float: left;
    display: block;
    background: $white;
    margin-bottom: $baseline*0.125;
    padding: $baseline $gutter;
    .tags {
      float: left;
      width: calc(50% - #{$gutter*0.5});
      margin-right: $gutter;
    }
    .details {
      float: left;
      width: calc(50% - #{$gutter*0.5});
      margin-right: $gutter;
    }
    .outcome_wrap {
      float: left;
      width: calc(50% - #{$gutter*0.5});
    }
    .outcome {
      font-size: $small;
      float: left;
      width: 50%;
      p {
        font-size: $smaller;
        margin-bottom: 0;
      }
    }
    .score {
      float: left;
      width: 50%;
      .effect, .evidence {
        margin: 0 $gutter*0.5;
        width: calc(50% - #{$gutter});
        .spot {
          margin-top: 4px;
        }
      }
    }
    &:not(.button), a:active, a:visited {
      color: $black;
      text-decoration: none;
    }
    h3, p {
      color: $black;
      text-decoration: none;
    }
    h3 {
      font-family: $stack;
      font-size: $h2*0.8;
      line-height: calc(#{$h3} + #{$baseline*0.2});
      margin-bottom: $baseline*0.25;
    }
    p {
      font-size: $smaller;
      line-height: $baseline*0.9;
      display: block;
    }
  }
  a.item {
    &:hover {
      -webkit-box-shadow: 0px 0px 4px 1px rgb(175, 175, 175);
      -moz-box-shadow: 0px 0px 4px 1px rgb(175, 175, 175);
      box-shadow: 0px 0px 4px 1px rgb(175, 175, 175);
      cursor: pointer;
    }
  }
  .menu.item {
    float: left;
    background: $white;
    padding: $baseline*0.5 $gutter;
    color: $gray;
    margin-bottom: $thin;
    .details, .outcome, .effect, .evidence {
      font-size: $smaller;
      font-weight: 400;
      text-transform: uppercase;
    }
    .score {
      .effect, .evidence {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    &.sticky {
      position: fixed;
      top: 0;
      border-bottom: $thin $brand $style;
    }
  }
  button.update {
    margin-top: $baseline;
  }
  body {
    font-family: $stack;
    color: $black;
    font-size: $body;
    font-weight: 400;
    line-height: $baseline;
  }

  strong {
    color: $black;
    font-weight: 600;
  }

  a {
    &:not(.button), a:active, a:visited  {
      color: $black;
      text-decoration: underline;
    }
    &:hover {
      color: $brand;
      border-bottom-color: $white;
    }
  }

  u {
    text-decoration: none;
  }

  p {
    color: $black;
    margin-bottom: $baseline;
  }

  .summary p,
  .role {
    font-weight: 400;
  }

  // small
  .single p,
  .date,
  cite,
  blockquote + p,
  footer .footer p, .footer ul li {
    font-size: $small;
    font-weight: 400;
    line-height: calc(#{$small} + #{$baseline*0.3});
  }

  h2, h3 {
    margin-bottom: $baseline*0.125;
  }
}