.application, .interventions {
    section.background {
    padding-top: $baseline;
    padding-bottom: $baseline;
    background: $black;
    color: $white;
    h2, h3, p, a, a:visited {
      color: $white;
    }
    h2, h3 {
      font-weight: 600;
    }
    p, li, a, a:visited {
      font-weight: 300;
    }
    &.hero {
      background: $brand;
    }
    &.brand {
      background: $brand-d;
    }
    &.gray {
      background: $gray-b;
    }
    + section h2 {
      margin-top: $baseline*0.5;
    }
    + section.background {
      padding-top: 0;
    }
  }
}

.dashboard {
  background: $gray-b;
  @include off-brand-d;
  padding-top: $baseline;
  padding-bottom: $baseline*2;
  section.section {
    margin-top: $baseline*2.5;
    margin-bottom: $baseline*2.5;
  }
  nav, #involved, .top, #main_cont {
    display: none;
  }
  .indent, .indent_b, .col_9 {
    position: relative;
    margin-top: $baseline;
    margin-bottom: $baseline;
  }
  .no-bullet {
    list-style: none;
    padding-left: 0;
  }
  ul {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    li {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  .date {
    margin: $baseline*0.5 0 $baseline*0.25 0;
  }
  button.update {
    margin-top: $baseline;
  }
  body {
    font-family: $stack;
    color: $black;
    font-size: $body;
    font-weight: 400;
    line-height: $baseline;
  }

  strong {
    color: $black;
    font-weight: 600;
  }

  a {
    &:not(.button), a:active, a:visited  {
      color: $black;
      text-decoration: underline;
    }
    &:hover {
      color: $brand;
      border-bottom-color: $white;
    }
  }

  u {
    text-decoration: none;
  }

  p {
    color: $black;
    margin-bottom: $baseline;
  }

  .summary p,
  .role {
    font-weight: 400;
  }

  // small
  .single p,
  .date,
  cite,
  blockquote + p,
  footer .footer p, .footer ul li {
    font-size: $small;
    font-weight: 400;
    line-height: calc(#{$small} + #{$baseline*0.3});
  }

  h2, h3 {
    margin-bottom: $baseline*0.125;
  }
}
