#whos-involved {
  blockquote {
    p {
      border: none;
      padding-left: $gutter*2;
      padding-right: $gutter*2;
      font-family: $stack-b;
      font-size: $h1*0.5;
      font-weight: 700;
      line-height: calc(#{$h1*0.5} + #{$baseline*0.15});
      &:before, &:after {
        content: none;
      }
    }
    ul {
      list-style: none;
      padding-left: $gutter*2;
      padding-right: $gutter*2;
      li {
        margin-top: 0;
        margin-bottom: 0;
        line-height: calc(#{$h1*0.5} + #{$baseline*0.15});
        u {
          font-family: $stack-b;
          font-size: $h1*0.5;
          font-weight: 500;
          line-height: calc(#{$h1*0.5} + #{$baseline*0.15});
          vertical-align: baseline;
          margin-right: $gutter*0.5;
        }
      }
    }
  }
}