.field-unit__label
  = f.label field.attribute
.field-unit__field
  - if field.data.count > 0
    %ul
      - field.data.each do |f|
        %li
          = f.filename.to_s
          %button.text.remove-file{ data: { file_id: f.id }}
            Remove file
          
  = f.file_field field.attribute, multiple: true
  
#files_to_delete
