@import 'administrate/library/variables';
@import 'administrate/library/clearfix';

form > .field-unit {
  margin-bottom: $base-spacing*2;
}

.field-unit--array-field {
  .array_field {
    @include administrate-clearfix;
    margin-bottom: 0;
    padding-bottom: 0;
    width: 100%;
  }
  
  .field-unit__array-text {
    float: left;
    width: 80%;
    margin-right: $base-spacing;
    margin-bottom: $base-spacing / 2;
    
    &.initial {
      width: 100%;
    }
  }
  
  .field-unit__minus-button {
    margin-bottom: $base-spacing / 2;
  }
  
  .add_array {
    @include administrate-clearfix;
  }
  
  .hidden {
    display: none;
  }
}

  
