/ %section.partners
/   .together
/     =image_tag "partners/1_1.png"
/     =image_tag "partners/1_2.png"
/     =image_tag "partners/1_3.png"
/     =image_tag "partners/1_4.png"
/     =image_tag "partners/1_5.png"
/     =image_tag "partners/2.png"
/     =image_tag "partners/3.png"
/     =image_tag "partners/4.png"
/   / .development
/     %strong
/       Development team
/     =image_tag "partners/1_1.png"
/     =image_tag "partners/1_2.png"
/     =image_tag "partners/1_3.png"
/     =image_tag "partners/1_4.png"
/     =image_tag "partners/1_5.png"
/   .research
/     %strong
/       Research partner
/     =image_tag "partners/2.png"
/   .funders
/     %strong
/       Funders
/     =image_tag "partners/3.png"
/   .network
/     %strong
/       Network
/     =image_tag "partners/4.png"
%footer
  .footer
    .signup
      %strong
        Sign up to keep updated
      %p
        Get news about the Centre’s development, blogs, jobs, events and how to get involved.
      %p
        =link_to "Sign up now", "https://nesta.us1.list-manage.com/subscribe?u=db62b5694f0d8093140a6b62e&id=4ed5659990", target: '_blank'
    .contact
      %strong Contact us
      %p
        =mail_to "wwccsc@nesta.org.uk"
      %p
        For Press enquiries
        =mail_to "media@scie.org.uk"
      %p.social
        =link_to "https://twitter.com/whatworksCSC", target: "_blank" do
          Follow us on Twitter @whatworksCSC
        / =twitter
    %nav.nav
      %ul
        %li
          =link_to "Terms and conditions", "#"
        %li
          =link_to "Privacy", "#"
        %li
          =link_to "© 2018 Nesta", "#"
        %li
          =link_to 'Glossary', '#'

          
