.partners-full
  %section.partners
    %h2 Who's involved
    .development
      %h3 Development team
      =image_tag "partners/1_1.png"
      =image_tag "partners/1_2.png"
      =image_tag "partners/1_3.png"
      =image_tag "partners/1_4.png"
      =image_tag "partners/1_5.png"
    .research
      %h3 Research partner
      =image_tag "partners/2_1.png"
      =image_tag "partners/2_2.png"
    .funders
      %h3 Funders
      =image_tag "partners/3.png"
    .network
      %h3 Network
      =image_tag "partners/4.png"
  %footer
    .footer
      .signup
        %h2 Sign up to keep updated
        %p Get news about the Centre’s development, blogs, jobs, events and how to get involved.
        =link_to "Sign up now", "https://nesta.us1.list-manage.com/subs", class: 'button'
      .contact
        %h2 Contact us
        .chevron_link
          %span.chevron.r
          =mail_to "wwccsc@nesta.org.uk"
        %p
          For Press enquiries
          =mail_to "guy.goodwin@nesta.org.uk"

        .twitter_feed
          / =twitter
          / .chevron_link
          /   =fa_icon "twitter"
          /   =link_to "Follow us on Twitter", "https://twitter.com/whatworksCSC", target: "_blank"
      %nav.nav
        %ul
          %li
            =link_to "Terms & conditions", "https://whatworks-csc.org.uk/terms-and-conditions"
          %li
            =link_to "Privacy Policy", "https://whatworks-csc.org.uk/privacy-policy"
          %li
            © Nesta, 2018

            
