%header
  .header
    =link_to root_path do
      .logo
        = image_tag('logo.svg')
    %nav.nav
      %ul
        / %li{ class: @section&.slug == 'screening-appraisal' ? 'selected' : '' }
        /   = link_to "Screening & Appraisal", 'screening-appraisal'
        / %li{ class: @section&.slug == 'standards' ? 'selected' : '' }
        /   = link_to "Evidence Standards", 'evidence-standards'
        / %li{ class: @section&.slug == 'outcomes' ? 'selected' : '' }
        /   = link_to "Outcomes", 'outcomes'
        / %li{ class: @section&.slug == 'our-story' ? 'selected' : '' }
        /   = link_to "Our Story", 'our-story'
        / %li{ class: @section&.slug == 'about-us' ? 'selected' : '' }
        /   = link_to "About us", 'about-us'
= render template: "partials/sub" if @section
