%header
  .header
    =link_to root_path do
      .logo
        = image_tag('logo.svg')
    %nav.nav
      %ul
        / %li{ class: @section&.slug == 'about-us' ? 'selected' : '' }
        /   = link_to "About", section_path(id: 'about-us')
        / %li{ class: @section&.slug == 'working-with' ? 'selected' : '' }
        /   = link_to "Working with", section_path(id: 'working-with')
        / %li{ class: @section&.slug == 'evidence' ? 'selected' : '' }
        /   = link_to "Evidence", section_path(id: 'evidence')
        / %li{ class: @section&.slug == 'whats-new' ? 'selected' : '' }
        /   = link_to "What's new", section_path(id: 'whats-new')
        / %li
        /   = link_to "Sign up", "https://nesta.us1.list-manage.com/subscribe?u=db62b5694f0d8093140a6b62e&id=4ed5659990", target: '_blank'
= render template: "partials/sub" if @section
