%header
  .header
    =link_to "https://whatworks-csc.org.uk" do
      .logo
        = image_tag('logo.png')
    %nav.nav
      %ul
        - pages.all.each do |p|
          - if defined?(page)
            %li{class: (page&.slug == p.slug ? 'selected' : '')}
              = link_to p.title, p
          - else
            %li
              = link_to p.title, p
          
