%header.header
  .container
    .full_width
      =link_to root_path do
        .logo
          = image_tag('logo.png')
      = render template: "partials/nav"
  = render template: "partials/sub_nav" if @section && @section.pages.count > 0
