$stack: 'Source Sans Pro', sans-serif;
$stack-b: 'Playfair Display', serif;

$breakpoint: 1040px;

$body: 20px;
$baseline: 1.6em; // 28px
$gutter: 20px;
$small: 16px;

$logo: 135px;

$black: #201D20;
$white: #fff;
$gray: #666;

// Unique Colors
$blue: #1565c0;
$red: #c71f16;

$h1: 70px;
$h2: 40px;
$h3: 26px;
$h4: 24px;
$p: $body;
$impact: 40px;

$brand: #E62D8C; // pink
$brand-b: #FFAA41; // mustard
$brand-c: #821982; // purple
$brand-d: #28AFA0; // turquoise
$highlight: #f387bb; //pink transparancy as picker

// transparancy
$amount: 0.4;

// border
$thin: 1px;
$medium: 2px;
$thick: 10px;
$style: solid;
$color: $gray;

$base-border-radius: 0;
$time: 200ms;