$stack: 'Source Sans Pro', sans-serif;
$stack-b: 'Playfair Display', serif;

$hd-desktop-width: 1360px;
$desktop-width: 960px;

$body: 19px;
$baseline: 1.45em;
$gutter: 40px;

$small: 16px;
$smaller: 14px;
$tiny: 12px;

$black: #333;
$white: #fff;
$gray: #666;
$gray-b: #f0f0f0;
$gray-c: #bbbbbb;

$logo: $gutter*2.5;

// Unique Colors
$blue: #1565c0;
$red: #c71f16;

$h1: 50px;
$h2: 32px;
$h3: 20px;
$h4: 28px;
$p: $body;
$impact: 40px;

$brand: #FFAA41; // mustard
$brand-b: #E62D8C; // pink
$brand-c: #821982; // purple
$brand-d: #28AFA0; // turquoise
$highlight: #FFD9AA;

// transparancy
$amount: 0.4;

// border
$thin: 1px;
$medium: 2px;
$thick: 10px;
$style: solid;
$color: $gray-c;

$base-border-radius: 0;
$time: 200ms;

$positive: $brand;
$neutral: $white;
$negative: #ff4141;

$moderate: $brand-b;
$no-effect: $brand-c;

$base-border-radius: 0;

$neat-grid: (
  gutter: $gutter,
);

$card-grid-color: rgba(255, 0, 255, 0.25);

$card-grid: (
  columns: 12,
  gutter: $gutter*0.5, // 20
  color: $card-grid-color,
);
