header {
  padding-top: $baseline*0.5;
  padding-bottom: $baseline*0.5;
  .header {
    .logo {margin-bottom: $baseline*0.5;
      @include grid-column(4, $mobile);

      img {
        margin: 0 auto;
      }
    }
  }
}