section.hero {
  padding-top: $baseline*0.5;
  .tagline {
    @include grid-column(4, $mobile);
  }
  .intro {
    @include grid-column(4, $mobile);
  }
  .link {
    @include grid-column(4, $mobile);
  }
}
.hero .sub {
  font-size: 22px;
  line-height: 32px;
}
