%section
  .container.bump
    .contents
      %ul
        %li
          Contents
        %li
          = link_to 'First in the list', '#first-in-the-list'
        %li
    .col_9
      %h1= page.title
      
      = page.body
