/*
*= require @yaireo/tagify/dist/tagify.css
*/

@import "fields/*";

.field-unit {
  display: block;
  
  .field-unit__label {
    float: none;
    text-align: left;
    margin: 0 0 0.7rem 0;
    font-size: 1.1em;
    width: 100%;
  }
  
  .field-unit__field {
    margin-left: 0;
    width: 90%;
  }
}

.field-unit--nested {
  border: none;
  padding: 0;
  width: 100%;
  margin: 0;
  
  legend {
    width: 100%;
    font-size: 1.4em;
    padding: 0;
    margin: 0 0 1rem 0;
  }
  
  .nested-fields {
    border: 1px solid #ccc;
    padding: 1rem;
    width: 90%;
  }
}
