body,
header .header,
footer .footer,
section  {
  @include grid-container;
}

header .header,
.sub nav.nav,
.partners,
footer .footer,
.hero-wrap,
section.section {
  // @include grid-visual;
  width: 100%;
  margin: 0 auto;
  @include max-width;
}

.dashboard, .card {
  width: 100%;
  margin: 0 auto;
  @include max-width;
}

.title {
  @include grid-column(12);
}

.indent {
  @include grid-column(10);
  @include grid-push(1);
}

.dashboard .menu.card,
.dashboard #interventions .card {
  // @include grid-visual($card-grid-color, $card-grid);
  @include grid-column(12, $card-grid);
  // width: 100%;
  // margin-left: 0;
}

.indent_b, .col_9 {
  @include grid-column(9);
}

.contents {
  @include grid-column(3);
}

.hero-wrap {
  .message, .sub {
    @include grid-column(12);
  }
}

.dashboard {
  .main {
    @include grid-column(7, $card-grid);
  }
  .measure-wrap {
    @include grid-column(5, $card-grid);
    .outcome, .effect, .evidence {
      margin-right: 20px;
      float: left;
    }
    .outcome {
      width: calc(45% - #{$gutter});
      margin-right: $gutter*0.5;
    }
    .effect {
      width: calc(30% - #{$gutter});
      margin-right: $gutter*0.5;
    }
    .evidence {
      width: calc(25% + #{$gutter});
      margin-right: 0;
    }
  }
  // .outcome {
  //   @include grid-column(2, $card-grid);
  // }
  // .effect {
  //   @include grid-column(1, $card-grid);
  // }
  // .evidence {
  //   @include grid-column(2, $card-grid);
  // }
}