body,
header .header,
footer .footer,
section  {
  @include grid-container;
}

header .header,
.sub nav.nav,
.container,
.partners,
footer .footer {
  // float: left;
  // width: 100%;
  @include grid-visual;
  width: 100%;
  margin: 0 auto;
  @include max-width;
}

.indent {
  @include grid-column(10);
  @include grid-push(1);
}

.item, .menu {
  // @include grid-column(6);
  // @include grid-push(1);
  width: calc(83.3333333333% - 73.3333333333px);
  margin-left: calc(8.3333333333% - 43.3333333333px + 80px - #{$gutter});
}

.indent_b, .col_9 {
  @include grid-column(9);
}

.contents {
  @include grid-column(3);
}