.sticky-bulk {
  display: none;
}
.dashboard {
  .card {
    padding-top: $baseline;
    padding-bottom: $baseline*0.5;
    .outcome .label {
      margin-bottom: $baseline*0.5;
    }
    .tags {
      margin-bottom: $baseline*0.5;
    }
    .effect, .evidence {
      margin-top: $baseline*0.125;
      margin-bottom: $baseline*0.125;
      width: calc(100%);
      &:before {
        color: $gray;
        font-size: $smaller;
        font-weight: 400;
        text-transform: uppercase;
        line-height: $small;
        float: left;
        width: 100%;
        margin-bottom: $baseline*0.125;
      }
      .effect {
        &:before {
          content: "Effect";
        }
      }
      .evidence {
        &:before {
          content: "Evidence strength";
        }
      }
      p {
        margin-bottom: $baseline*0.5;
      }
    }
  }
  .menu.item {
    display: none;
    .effect, .evidence {
      &:before {
        content: "";
      }
    }
  }
}

.measure-wrap .effect img {
  margin: 0;
  width: auto;
}
.interventions.show .info-box.card {
  .measure-wrap {
    .effect, .evidence {
      text-align: left;
    }
  }
}


#interventions .card .label {
  text-align: left;
}
.dashboard .measure-wrap .evidence {
  text-align: left;
}
.dashboard .measure-wrap .evidence p {
  max-width: none;
  text-align: left;
}
