.sub nav.nav ul {
  @include grid-column(3, $mobile);
  @include grid-push(1, $mobile);
}

.header nav.nav, .sub nav.nav {
  ul {
    text-align: center;
    li {
      display: inline-block;
    }
  }
}

.header nav.nav,
.sub nav.nav {
  @include grid-column(4, $mobile);
  line-height: $baseline;
}

.sub nav.nav {
  margin-left: 0;
}

.sub, footer .footer {
  nav.nav {
    line-height: $baseline;
  }
}

nav.nav ul li {
  margin-left: 10px;
  margin-right: 10px;
}
