.info-box.card
  %strong Headline points
  
  %ul
    - intervention.headline_points.each do |point|
      %li= point
  
  = render 'contacts/contacts', contacts: intervention.contacts
  
  - intervention.outcomes.each do |outcome|
    = render 'outcomes/outcome_card', outcome: outcome
    
    
