%section.dashboard
  .container

    #sticky-nav.menu.card
      .main
        .details
          Intervention
      .outcome
        .label
          Outcome
      .effect
        Effect
      .evidence
        Evidence Strength
    %ul#interventions
      = render interventions
