%section.hero
  .hero-wrap
    %h1.message
      Better evidence to support better decisions
    %h4.sub
      Below you’ll see a dashboard view of the interventions we’ve reviewed  so far, including at-a-glance ratings for overall <a href="/pages/evidence-standards">effectiveness and quality</a> of evidence. You can click through for more detail, including how the intervention works, who it’s for and where it’s been studied.
    %h4.sub
      We’ve included some implementation details and some relevant UK contacts and case studies where we can
%section.dashboard
  .container

    #sticky-nav.menu.card
      .main
        .details
          Intervention
      .measure-wrap
        .outcome
          .label
            Outcome
        .effect
          %p
            Overall effectiveness
        .evidence
          %p
            Quality of evidence
    %ul#interventions
      = render interventions
