%section.hero
  .hero-wrap
    = banner_message.title
    %h4.sub
      = banner_message.body
%section.dashboard
  .container

    #sticky-nav.menu.card
      .main
        .details
          Intervention
      .measure-wrap
        .outcome
          .label
            Outcome
        .effect
          %p
            Overall effectiveness
        .evidence
          %p
            Quality of evidence
    %ul#interventions
      = render interventions
