%section.hero
  .hero-wrap
    = banner_message.title
    %h4.sub
      = banner_message.body
%section.dashboard
  .container
    .sticky-inner
    .sticky-nav.menu.card
      .main
        .details
          The intervention
      .measure-wrap
        .outcome
          .label.force_right
            Outcome
        .effect.force_center
          %p
            Overall effectiveness
        .evidence.force_center
          %p
            Quality of evidence
    %ul#interventions
      = render interventions.sort_by(&:title)
      .breaker

      %li.coming_soon_container
        .card.coming_soon
          .main
            .details
              %h3 Coming soon - Non-professional parental support
              %div XXXXXX

      %li
        .card.coming_soon
          .main
            .details
              %h3 More interventions coming soon
              %div If you want to get notified when new interventions are published then join our newsletter.
              .chevron_link
                %span.chevron.r
                  =link_to "Sign up to our newsletter", "https://nesta.us1.list-manage.com/subscribe?u=db62b5694f0d8093140a6b62e&id=4ed5659990", target: "_blank"
