%section.hero
  .hero-wrap
    %h1.message
      Finding better evidence to support better decisions
    %h4.sub
      Here you’ll find a dashboard overview of the interventions we’ve reviewed  so far, including at-a-glance ratings for overall effectiveness and quality of evidence. You can click through for more detail on the findings of each body of evidence, including how the intervention works, who it’s for and where it’s been studied. We’ve included some implementation details and some relevant UK contacts and case studies where we can.
%section.dashboard
  .container

    #sticky-nav.menu.card
      .main
        .details
          Intervention
      .measure-wrap
        .outcome
          .label
            Outcome
        .effect
          %p
            Overall effectiveness
        .evidence
          %p
            Quality of evidence
    %ul#interventions
      = render interventions
