%section.hero
  .hero-wrap
    = banner_message.title
    %h4.sub
      = banner_message.body
%section.dashboard
  .container
    .sticky-inner
    .sticky-nav.menu.card
      .main
        .details
          The intervention
      .measure-wrap
        .outcome
          .label.force_right
            Outcome
        .effect.force_center
          %p
            Overall effectiveness
        .evidence.force_center
          %p
            Quality of evidence
    %ul#interventions
      = render interventions.sort_by(&:title)
      .breaker

      %li.coming_soon_container
        .card.coming_soon
          .main
            .details
              %h3 Coming soon - Non-professional parental support
              %div How can non-professionals help families? This report presents two models for such help – one for parents who have been through the system as mentors and the other for foster carers helping parents
      %li.coming_soon_container
        .card.coming_soon
          .main
            .details
              %h3 Coming soon - Family budget changes
              %div This unpicks evidence about how changes in family budget do and do not help families.
      %li.coming_soon_container
        .card.coming_soon
          .main
            .details
              %h3 Coming soon - Effective mental health support for parents
              %div How can we most effectively help parents where there are mental health issues affecting their parenting?
      %li.coming_soon_container
        .card.coming_soon
          .main
            .details
              %h3 Coming soon - How does case management for families work?
              %div Many interventions involve effective case management of multiple inputs. What is needed to do this well?
      %li.coming_soon_container
        .card.coming_soon
          .main
            .details
              %h3 Coming soon - Mobilising supportive networks
              %div How can workers most effectively involve wider family, non-professionals and professionals in helping families
      %li.coming_soon_container
        .card.coming_soon
          .main
            .details
              %h3 Coming soon - Short-term intensive crisis support
              %div This report will partner our review of intensive family preservation services. What is needed to provide effective short term crisis support?
      %li.coming_soon_container
        .card.coming_soon
          .main
            .details
              %h3 Coming soon - How can we best engage parents?
              %div At the heart of many interventions is engaging parents in the work. What are the key lessons about how to do this?
      %li.coming_soon_container
        .card.coming_soon
          .main
            .details
              %h3 Coming soon - Involving parents in decision-making meetings
              %div What is best practice in involving parents in key meetings, including Family Group Conferences and Child Protection Case Conferences?
      %li.coming_soon_container
        .card.coming_soon
          .main
            .details
              %h3 Coming soon - What works in service integration and co-ordination?
              %div More effective coordination of services is at the heart of many interventions – this review unpacks what is involved in effective integration or coordination of services 
      %li.coming_soon_container
        .card.coming_soon
          .main
            .details
              %h3 Coming soon - Family Drug and Alcohol courts (update)
              %div A recent study found FDACs seemed effective. This review complements that by describing in detail what the model involves and issues in implementing it.
      %li.coming_soon_container
        .card.coming_soon
          .main
            .details
              %h3 Coming soon - Intensive Family Preservation Programmes
              %div Widely used in the USA, IFPPs are one of the most thoroughly evaluated interventions aimed at reducing the need for children to be in care. This thorough review pools the evidence from many studies to unpack what difference IFPPs make.
      %li.coming_soon_container
        .card.coming_soon
          .main
            .details
              %h3 Coming soon - Outcome-focused supervision
              %div An evaluation of how more outcomes-focused supervision can help improve family engagement and goal-agreement in child protection work
      %li.coming_soon_container
        .card.coming_soon
          .main
            .details
              %h3 Coming soon - Devolved budgets
              %div Three projects that evaluate whether giving social workers control over budgets can help them provide more effective help to children and families.
      %li.coming_soon_container
        .card.coming_soon
          .main
            .details
              %h3 Coming soon - Social workers in schools
              %div Three projects that place social workers in schools so that they can provide more effective help and assessment for children and families
      %li.coming_soon_container
        .card.coming_soon
          .main
            .details
              %h3 Coming soon - Exploratory trial of Schwartz Rounds
              %div Schwartz Rounds are supportive groups that have been found to be helpful in the health service. This study evaluates their impact on the welfare of staff in children’s services
      %li.coming_soon_container
        .card.coming_soon
          .main
            .details
              %h3 Coming soon - Exploratory trial of training in decision-making
              %div Can we improve the ways in which social workers make decisions? These studies will explore how decision-making can be evaluated and what forms of training and support make a difference in practice
      %li.coming_soon_container
        .card.coming_soon
          .main
            .details
              %h3 Coming soon - Secure accommodation
              %div An evaluation of the outcomes and well-being of children and young people from England referred to secure accommodation


      %li.final_card
        .card.coming_soon
          .main
            .details
              %h3 More interventions coming soon
              %div If you want to get notified when new interventions are published then join our newsletter.
              .chevron_link
                %span.chevron.r
                  =link_to "Sign up to our newsletter", "https://nesta.us1.list-manage.com/subscribe?u=db62b5694f0d8093140a6b62e&id=4ed5659990", target: "_blank"
