%section.hero
  .hero-wrap
    = banner_message.title
    %h4.sub
      = banner_message.body
%section.dashboard
  .container
    .sticky-inner
    .sticky-nav.menu.card
      .main
        .details
          The intervention
      .measure-wrap
        .outcome
          .label.force_right
            Outcome
        .effect.force_center
          %p
            Overall effectiveness
        .evidence.force_center
          %p
            Quality of evidence
    %ul#interventions
      = render interventions
