.dashboard {
  .item {
    padding: $baseline*0.5 $gutter*0.5;
    .tags {
      margin-bottom: $baseline*0.5;
      width: 100%;
    }
    .details {
      width: calc(100% - #{$gutter*0.5});
      margin-right: $gutter;
    }
    .outcome {
      width: calc(100% - #{$gutter*0.5});
    }
    .label {
      width: 100%;
    }
    .score {
      width: 100%;
      margin-bottom: $baseline*0.75;
      .effect, .evidence {
        width: 100%;
        margin-left: 0;
        margin-top: $baseline*0.125;
        margin-bottom: $baseline*0.25;
        &:before {
          color: $gray;
          font-size: $smaller;
          font-weight: 400;
          text-transform: uppercase;
          float: left;
          width: 100%;
        }
        .spot {
          margin-top: 0;
        }
      }
      .effect {
        &:before {
          content: "Effect";
        }
      }
      .evidence {
        &:before {
          content: "Evidence strength";
        }
      }
    }  
  }
  .menu.item {
    display: none;
    .effect, .evidence {
      &:before {
        content: "";
      }
    }
  }
}