#whos-involved {
  blockquote {
    p {
      padding-left: 0;
      padding-right: 0;
      font-size: $h1*0.75;
      font-weight: 700;
      line-height: calc(#{$h1*0.75} + #{$baseline*0.15});
    }
    ul {
      padding-left: 0;
      padding-right: 0;
      li {
        line-height: calc(#{$h1*0.75} + #{$baseline*0.15});
        u {
          font-family: $stack-b;
          font-size: $h1*0.75;
          font-weight: 500;
          line-height: calc(#{$h1*0.75} + #{$baseline*0.15});
          margin-right: $gutter*0.5;
        }
      }
    }
  }
}