.measure-wrap
  .outcome
    .label
      %strong= outcome.title
  .effect
    %p
      Overall effectiveness
    = outcome.effect_meter
  .evidence
    %p
      Quality of evidence
    = outcome.evidence_meter
