.measure-wrap
  .outcome
    .label
      %strong= outcome.title
  .effect
    %p.no_desktop
      Overall effectiveness
    = outcome.effect_meter
  .evidence
    %p.no_desktop
      Quality of evidence
    = outcome.evidence_meter
