%section.section
  = outcome.description
  .measurement
    .effect
      %label
        Effect
      = outcome.effect_meter
    .evidence
      %label
        Evidence
      = outcome.evidence_meter
  = outcome.intervention_notes