.menu.card {
  float: left;
  background: $white;
  color: $gray;
  padding-top: $baseline;
  padding-bottom: $baseline;
  margin-bottom: $thin;
  .details, .label, .effect, .evidence {
    font-size: $small;
    line-height: $body;
    font-weight: 600;
    color: $gray;
    text-align: center;
  }
  .measure-wrap {
    p {
      text-align: left;
      margin-bottom: 0;
    }
  }
  .details, .label {
    text-align: left;
  }
  .score {
    .effect, .evidence {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &.sticky {
    position: fixed;
    top: 0;
    border-bottom: $thin $brand $style;
    z-index: 100;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 1270px;
  }
}
#interventions .card {
  float: left;
  display: block;
  background: $white;
  margin-bottom: $baseline*0.125;
  padding-top: $baseline;
  padding-bottom: $baseline;
  text-transform: initial;
  .details, .label, .effect, .evidence {
    text-transform: initial;
  }
  .label {
    font-size: $small;
    line-height: $body;
    float: left;
    p {
      font-size: $smaller;
      margin-bottom: 0;
    }
  }
  &:not(.button), a:active, a:visited {
    color: $black;
    text-decoration: none;
  }
  h3, p {
    color: $black;
    text-decoration: none;
  }
  h3 {
    font-family: $stack;
    font-size: $h2*0.9;
    font-weight: 700;
    line-height: calc(#{$h3} + #{$baseline*0.2});
    margin-bottom: $baseline*0.5;
  }
  p {
    font-size: $smaller;
    line-height: $baseline*0.9;
    display: block;
  }
  .effect {
    .meter {
      height: 32px;
    }
  }
}
#interventions a.card {
  &:hover {
    -webkit-box-shadow: 0px 0px 4px 1px rgb(175, 175, 175);
    -moz-box-shadow: 0px 0px 4px 1px rgb(175, 175, 175);
    box-shadow: 0px 0px 4px 1px rgb(175, 175, 175);
    cursor: pointer;
  }
}

.info-box #interventions a.card {
  &:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: initial;
  }
}