.menu.card {
  float: left;
  background: $white;
  color: $gray;
  padding-top: $baseline;
  padding-bottom: $baseline;
  margin-bottom: $thin;
  .details, .label, .effect, .evidence {
    font-size: $small;
    line-height: $body;
    font-weight: 600;
    color: $accessible-gray;
    text-align: center;
  }
  .measure-wrap {
    p {
      text-align: left;
      margin-bottom: 0;
    }
  }
  .details, .label {
    text-align: left;
  }
  .score {
    .effect, .evidence {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &.sticky {
    position: fixed;
    top: 0;
    border-bottom: $thin $brand $style;
    z-index: 100;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 1270px;
  }
}
.sticky-bulk {
  height: 98px;
  width: 100%;
}
#interventions .card {
  float: left;
  display: block;
  background: $white;
  margin-bottom: $baseline*0.125;
  padding-top: $baseline*0.75;
  padding-bottom: $baseline*0.75;
  text-transform: initial;
  .details, .label, .effect, .evidence {
    text-transform: initial;
  }
  .label {
    font-size: $small;
    line-height: $body;
    margin-top: 10px;
    text-align: right;
    p {
      font-size: $smaller;
      margin-bottom: 0;
    }
  }
  &:not(.button), a:active, a:visited {
    color: $black;
    text-decoration: none;
    margin-bottom: $baseline*0.5;
  }
  h3, p {
    color: $black;
    text-decoration: none;
  }
  h3 {
    font-family: $stack;
    font-size: $h2*1.1;
    font-weight: 700;
    line-height: calc(#{$h3} + #{$baseline*0.3});
    margin-bottom: $baseline*0.5;
  }
  .details p {
    font-size: $small;
    line-height: $baseline;
  }
  p {
    font-size: $smaller;
    line-height: $baseline*0.9;
    display: block;
  }
  .effect {
    .meter {
      height: 32px;
    }
  }
  .outcome_list {
    padding-top: 25px;
  }

  &.coming_soon {
    background: rgba(255, 170, 65, 0.25);
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
    h3 {
      margin-bottom: 0.4em;
    }
    .main {
      width: calc(100% - 20px);
    }
    .chevron_link {
      margin-top: 15px;

      a {
        margin-bottom: 0em;
        &:hover {
          text-decoration: none;
        }
        &:active {
          margin-bottom: 0em;
        }
      }
    }
  }
}

.final_card {
  .coming_soon {
    margin-top: 50px;
    opacity: 1;
  }
}

#interventions a.card {
  &:hover {
    -webkit-box-shadow: 0px 0px 4px 1px rgb(175, 175, 175);
    -moz-box-shadow: 0px 0px 4px 1px rgb(175, 175, 175);
    box-shadow: 0px 0px 4px 1px rgb(175, 175, 175);
    cursor: pointer;
  }
}

.measure-wrap .effect img {
  border: $medium transparent $style;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  margin: 3px auto;
  width: auto;
}

#interventions .main {
  min-height: 210px;
}
