footer {
  color: $white;
  background: $black;
  strong {
    font-weight: 600;
  }
  a {
    font-weight: 400;
    color: $white;
  }
  .footer {
    ul {
      list-style: none;
    }
    p {
      font-size: $smaller;
      font-weight: 300;
    }
    nav.nav {
      font-size: $smaller;
      font-weight: 300;
      ul {
        li {
          font-size: $smaller;
          font-weight: 300;
          margin-left: 0;
          margin-right: $gutter*0.5;
          a {
            text-decoration: underline;
            font-weight: 300;
          }
        }
      }
    }
  }
}