footer {
  color: $white;
  background: $black;
  h2 {
    font-family: $stack-b;
    margin-bottom: 15px;
  }
  strong {
    font-weight: 600;
  }
  a {
    font-weight: 400;
    color: $white;
  }
  .footer {
    .button {
      font-size: $small;
      text-decoration: none;
      &:hover {
        color: $black;
        background: $white;
        border-color: $white;
      }
    }
    ul {
      list-style: none;
    }

    nav.nav {
      font-size: $smaller;
      line-height: initial;
      ul {
        li {
          font-size: $small;
          font-weight: 400;
          margin-left: 0;
          margin-right: $gutter*0.5;
          a {
            font-size: $small;
            text-decoration: underline;
            font-weight: 400;
          }
        }
      }
    }
  }

  .twitter_feed {
    background-color: $white;
    padding: 15px;
    border-radius: 1.5px;
    color: #111;
    a:not(.button) {
      color: #111;
    }
    .icon-twitter {
      color: #1dcaff;
    }
  }
  .twitter {
    margin-bottom: 15px;
  }
  #tweet_cont a {
    color: #111 !important;
    text-decoration: none;
    margin-right: 15px;
  }
}
