footer {
  color: $white;
  background: $black;
  h2 {
    font-family: $stack-b;
  }
  strong {
    font-weight: 600;
  }
  a {
    font-weight: 400;
    color: $white;
  }
  .footer {
    .button {
      font-size: $small;
      text-decoration: none;
      &:hover {
        color: $black;
        background: $white;
        border-color: $white;
      }
    }
    ul {
      list-style: none;
    }
    p {
      font-size: $smaller;
      font-weight: 300;
    }
    nav.nav {
      font-size: $smaller;
      ul {
        li {
          font-size: $body;
          font-weight: 400;
          margin-left: 0;
          margin-right: $gutter*0.5;
          a {
            font-size: $body;
            text-decoration: underline;
            font-weight: 400;
          }
        }
      }
    }
  }
}