.hero {
  padding-top: $baseline*2;
  padding-bottom: $baseline*2;
  background: $brand;
  .message {
    font-family: $stack-b;
    margin-bottom: $baseline*0.5;
    font-weight: 700;
    color: $white;
  }
  .sub {
    a {
      font-weight: 600;
      &:hover {
        color: $white;
      }
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
}