nav.nav {
  line-height: $logo;
  text-align: right;
  ul {
    margin-top: 0;
    margin-bottom: 0;
    li {
      display: inline;
      margin-left: $gutter;
      white-space: nowrap;
      a {
        font-size: $body;
        font-weight: 400;
        text-decoration: none;
        position: relative;
        padding-bottom: 5px;
      }
      &.selected {
        a {
          font-weight: 600;
        }
        & a:after{
          content: "";
          position: absolute;
          width: 100%;
          left: 0;
          bottom: 0;
          border-top: 2px solid #000;
        }
      }
    }
  }
}

.sub, footer .footer {
  nav.nav {
    line-height: $logo*0.5;
    ul li {
      &.selected {
        background: none;
        margin-left: 0;
        padding-left: $gutter;
        a {
          color: $brand;
        }
      }
    }
  }
}

header {
  nav.nav {
    @include grid-column(10);
  }
}

footer .footer nav.nav {
  text-align: left;
}