.partners-full {
  background: $white;
  section.partners {
    margin-top: $baseline;
    padding-top: $baseline;
    padding-bottom: $baseline;
    h2 {
      font-family: $stack-b;
      text-align: left;
      position: relative;
      padding-bottom: 20px;
      line-height: calc(30px + 0.29em);
      @include grid-column(12);
      &:after {
        content: "";
        position: absolute;
        width: 25px;
        left: 0;
        bottom: 0;
        border-top: 3px solid #000;
      }
    }
    .development {
      @include grid-column(6);
      img {
        display: inline-block;
        width: calc(100% / 3 - #{$gutter});
      }
    }
    .research, .funders, .network {
      @include grid-column(2);
      img {
        display: inline-block;
        width: calc(100% - #{$gutter*2});
      }
    }
  }
}