.tags {
  span {
    // font-family: $stack-b;
    background: $accessible-gray;
    padding: $baseline*0.25 $gutter*0.5;
    float: left;
    color: $white;
    font-size: $smaller;
    line-height: $small;
    // font-weight: 300;
    margin-right: $gutter*0.5;
    }
}
