%section.dashboard
  .container

    .keywords
      .keyword
        %span
          Edge of care
        %span
          Children in care
        %span
          Looked after
        %span
          Care Leaver
        %span
          Placement
        %span
          Preventative
        %span
          Early help
        %span
          Safeguarding
        %span
          Parenting

    .menu.card#sticky-nav
      .main
        .details
          Intervention
      .outcome
        .label
          Outcome
      .effect
        Effect
      .evidence
        Evidence Strength
    %ul
      %li
        = link_to 'intensive-family-preservation-programmes', class: 'card' do
          .main
            .tags
              %span
              %span
              %span
              %span
              / %span intensive family preservation programmes
              / %span out-of-home placement
            .details
              %h3
                Intensive Family Preservation Programmes
              %p
                Aimed at families in crisis, where there is an imminent risk of children entering care and to avoid out-of-home placement.
          .outcome
            .label
              %strong
                Family functioning
              %p
                Moderate effect. Low evidence
          .effect
            .spot.fill
            .spot.fill
            .spot
          .evidence
            .spot.fill
            .spot
            .spot

          .outcome
            .label
              %strong
                Entry to care
              %p
                No effect. Moderate evidence
          .effect
            .spot
            .spot
            .spot
          .evidence
            .spot.fill
            .spot.fill
            .spot

      %li
        = link_to 'maternal-child', class: 'card' do
          .main
            .tags
              %span
              %span
              %span
              %span
              / %span maternal representations
              / %span intervention
            .details
              %h3
                Interventions to improve maternal-child attachment
              %p
                Designed to improve attachment between mothers and their babies in the early stages of the children’s lives.
          .outcome
            .label
              %strong
                Maternal sensitivity
              %p
                High effect. No evidence.
          .effect
            .spot.fill
            .spot.fill
            .spot.fill
          .evidence
            .spot
            .spot
            .spot

          .outcome
            .label
              %strong
                Reflective functioning
              %p
                High effect. No evidence.
          .effect
            .spot.fill
            .spot.fill
            .spot.fill
          .evidence
            .spot
            .spot
            .spot

      %li
        = link_to 'mellow-parenting', class: 'card' do
          .main
            .tags
              %span
              %span
              %span
              %span
            .details
              %h3
                Mellow Parenting
              %p
                Promoting sensitive parenting and improving attachment by developing better parent-child relationships.
          .outcome
            .label
              %strong
                Parental mental health
              %p
                High effect. No evidence

          .effect
            .spot.fill
            .spot.fill
            .spot.fill
          .evidence
            .spot
            .spot
            .spot

          .outcome
            .label
              %strong
                Child behaviour
              %p
                High effect. No evidence

          .effect
            .spot.fill
            .spot.fill
            .spot.fill
          .evidence
            .spot
            .spot
            .spot