%section.dashboard
  .container

    .menu.item#sticky-nav
      .details
        Intervention
      .outcome_wrap
        .outcome
          Outcome
        .score
          .effect
            Effect
          .evidence
            Evidence
    %ul
      %li
        = link_to 'intensive-family-preservation-programmes', class: 'item' do
          .tags
            %span Child safety
            %span crisis
            %span family functioning
            %span intensive family preservation programmes
            %span out-of-home placement
          .details
            %h3
              Intensive Family Preservation Programmes
            %p
              Aimed at families in crisis, where there is an imminent risk of children entering care and to avoid out-of-home placement.
          .outcome_wrap
            .outcome
              %strong
                Improved family functioning
              %p
                Moderate effect. Low evidence
            .score
              .effect
                .spot.fill
                .spot.fill
                .spot
              .evidence
                .spot.fill
                .spot
                .spot
          .outcome_wrap
            .outcome
              %strong
                Reduced entry to care
              %p
                No effect. Moderate evidence
            .score
              .effect
                .spot
                .spot
                .spot
              .evidence
                .spot.fill
                .spot.fill
                .spot

      %li
        = link_to 'maternal-child', class: 'item' do
          .tags
            %span Maternal-child attachment
            %span maternal sensitivity
            %span maternal reflective function
            %span maternal representations
            %span intervention
          .details
            %h3
              Interventions to improve maternal-child attachment
            %p
              Improve attachment between mothers and their babies in the early stages of the children’s lives.
          .outcome_wrap
            .outcome
              %strong
                Improved maternal sensitivity
              %p
                High effect. No evidence.
            .score
              .effect
                .spot.fill
                .spot.fill
                .spot.fill
              .evidence
                .spot
                .spot
                .spot
          .outcome_wrap
            .outcome
              %strong
                Improved reflective functioning
              %p
                High effect. No evidence.
            .score
              .effect
                .spot.fill
                .spot.fill
                .spot.fill
              .evidence
                .spot
                .spot
                .spot

      %li
        = link_to 'mellow-parenting', class: 'item' do
          .tags
            %span Child development
            %span sensitive parenting
            %span parental-child attachment
          .details
            %h3
              Mellow Parenting
            %p
              Promoting sensitive parenting and aiming to improve attachment through addressing parental mental health as well as developing better parent-child relationships.
          .outcome_wrap
            .outcome
              %strong
                Improved parental mental health
              %p
                High effect. No evidence
            .score
              .effect
                .spot.fill
                .spot.fill
                .spot.fill
              .evidence
                .spot
                .spot
                .spot
          .outcome_wrap
            .outcome
              %strong
                Improved child behaviour
              %p
                High effect. No evidence
            .score
              .effect
                .spot.fill
                .spot.fill
                .spot.fill
              .evidence
                .spot
                .spot
                .spot